div.ui.segment
  div.header Status:
  p {{ctrl.task.status}}

  div.date Date:
  p {{ctrl.task.date}}

  div.description Task:
  p {{ctrl.task.text}}
  
 div.extra
      div.ui.3.fluid.buttons
        a(ng-href="/#/list").ui.vertical.animated.button.orange
          div.hidden.content Back
          div.visible.content
            i.arrow.left.icon

        button.ui.vertical.animated.button.yellow
          div.hidden.content Edit
          div.visible.content
            i.edit.icon 

        button(ng-click="ctrl.delete()").ui.vertical.animated.button.red
          div.hidden.content Delete
          div.visible.content
            i.trash.icon