tr:hover{
	cursor: pointer;
}

.debug{
	border: dashed thin #000;
}

.container{
	width: 32em;
	height: auto;
	margin: 0 auto;
}

.container .debug{
	background: #ff0000;	
}

.close .icon:hover{
	cursor: pointer;
}

.excuse{margin: 10px 18px;}

.row-per-hundred{width: 100%;}

.row-per-ninety{width: 90%;}

.row-per-eighty{width: 80%;}

.row-per-seventy{width: 70%;}

.row-per-sixty{width: 60%;}

.row-per-fifty{width: 50%;}

.row-per-forty{width: 40%;}

.row-per-thirty{width: 30%;}

.row-per-twenty{width: 20%;}

.row-per-ten{width: 10%;}