extends ../layout/default
block content
	form(method="post", action="/create")
		input(type="text", placeholder="Your name", name="name")
		input(type="email", placeholder="Your email address", name="email")
		input(type="password", placeholder="Your password", name="password")
		button(type="submit") Send