extends ../layout/default
block content
	form
		input(type="text", placeholder="Your name", ng-model="data.f_name")
		input(type="text", placeholder="Your last name", ng-model="data.l_name")
		input(type="email", placeholder="Your email address", ng-model="data.email")
		input(type="password", placeholder="Your password", , ng-model="data.password")
		select(ng-model="data.gender")
			option(disabled="disabled", selected="selected") Your gender
			option(value="F") Female
			option(value="M") Male

		input(type="text", placeholder="Currency name", ng-model="data.currency.name")
		input(type="number", placeholder="Currency amount", ng-model="data.currency.current_amount")
		input(type="date", placeholder="Date get salary", ng-model="data.currency.date_get_salary")

		button(ng-click="api.create(data)") Send

		{{user.msg}}