extends ../layout/default
block content
	body(ng-controller="retrive")
		table
			tr.title
				td Id
				td Name
				td Email address
			tr(ng-repeat="user in ctrl.users")
				td {{user._id}}
				td {{user.f_name}}
				td {{user.email}}
				td
					a(ng-href="/user/{{user._id}}") Detalhes

		a(href="/user/create") Create