extends ../layout/default
block content
	table
		tr
			td= datas._id
		tr
			td= datas.name
		tr
			td= datas.email
		form(method="post", action="/delete/#{datas._id}?_method=delete")
			button(type="submit") Delete